.header_container{
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: var(--c2);
}

.header_title{
    font-size: 25px;
    color: var(--c5);
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
}